body { font-family: georgia, Verdana, sans serif;font-size:10pt;  }

td { font-family: georgia, Verdana, sans serif;font-size:10pt;  vertical-align: top; }

ol { font-family: georgia, Verdana, sans serif;font-size:10pt;  }

ul { font-family: georgia, Verdana, sans serif;font-size:10pt;  }

form { font-family: georgia, Verdana, sans serif;font-size:10pt;  }

h1 { font-family: georgia, Verdana, sans serif; font-size: 16pt; font-weight: bold; }

A:visited { font-family: georgia, Verdana, sans serif;font-size:10pt;  color: #00779E; text-decoration: none; }

A:link { font-family: georgia, Verdana, sans serif;font-size:10pt;  color: #1E2A63; text-decoration: none; }

A:hover { font-family: georgia, Verdana, sans serif;font-size:10pt;  color: #0069B3; text-decoration: none; }

.normaal { font-family: georgia, Verdana, sans serif;font-size:10pt;  }

.bodypage { font-family: georgia, Verdana, sans serif;font-size:10pt;  background : FFFFFF; }

